<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SupportHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a class="nav-link" href="/issues/index">Issues</a></li>
<!--                <li><a class="nav-link" href="#">Dashboards</a></li>-->
<!--                <li><a class="nav-link" href="#">Reports</a></li>-->
                <li><a class="nav-link" href="/projects/index">Projects</a></li>
<!--                <li><a class="nav-link" href="#">Knowledge Base</a></li>-->
<!--                <li><a class="nav-link" href="#">Timesheet</a></li>-->
            </ul>

            <%- include('_loginpartial'); %>
        </div>
    </div>
</nav>
