<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a class="nav-link" href="#">Issues</a></li>
                <li><a class="nav-link" href="#">Dashboards</a></li>
                <li><a class="nav-link" href="#">Reports</a></li>
                <li><a class="nav-link" href="#">Projects</a></li>
                <li><a class="nav-link" href="#">Knowledge Base</a></li>
                <li><a class="nav-link" href="#">Timesheet</a></li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" id="adminMenu">
                        <i class="bi bi-nut-fill"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminMenu">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Access Management
                            </a>
                            <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
                                <li><a class="dropdown-item" href="#">Users</a></li>
                                <li><a class="dropdown-item" href="#">Organizations</a></li>
                                <li><a class="dropdown-item" href="#">Groups</a></li>
                                <li><a class="dropdown-item" href="#">Roles</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Integrations
                            </a>
                            <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
                                <li><a class="dropdown-item" href="#">Mailbox Integration</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>

            <%- include('_loginpartial'); %>
            <!-- <form class="d-flex" role="search">
                 <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                 <button class="btn btn-outline-success" type="submit">Search</button>
             </form>-->
        </div>
    </div>
</nav>
