<div class="container">
    <form method="post" action="./forgotPassword">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Reset password</button>
        <a class="btn" href="./login">Login</a>
    </form>
</div>