<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Login</h2>

            <% if (message?.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= message %>
                </div>
            <% } %>

            <form method="post" action="/account/login">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label><a href="/account/forgotPassword">(forgot password)</a>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                <a class="btn" href="./register">Register</a>
            </form>
        </div>
    </div>
</div>