<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2><%= title %></h2>
        </div>
        <dl>
            <dt>Name</dt>
            <dd><%= data.name %></dd>
        </dl>
        <div class="row">
            <a class="btn btn-primary col-md-4" href="/client/index">Back</a>
            <a class="btn btn-secondary col-md-4" href="/client/edit/<%= data.id %>">Edit</a>
            <a class="btn btn-danger col-md-4" href="/client/delete/<%= data.id %>">Delete</a>
        </div>
    </div>
</div>
