<div>
    <% for(let ticket of data) { %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= ticket.title %></h5>
            <p class="card-text"><%= ticket.description %></p>
        </div>
    </div>
    <% } %>
</div>